body{ background:#fff;}
.ban-pc{ width:100%; height:500px; position:relative; overflow:hidden; background:url(../image/关于我们.jpg) no-repeat center; font-family:"黑体";}


.gywm{ width:100%;  position: relative;}
.rczp-nav{ width:100%; margin:0 auto; height:84px; position: absolute; left:0; top:0; background: #fff; z-index:2; border-bottom:2px solid #ededed; transition: all 0.3s ease;}
.rczp-xwdt-b>div{ display:none;}
.rczp-nav-c{ width:1100px; margin:0 auto; height:84px; position:relative;}
.rczp-nav-l{ width:580px;  position:relative; }
.rczp-nav-l span{ display:block; width:100px; height:100px; font-size:18px; text-align:center; line-height:118px; overflow:hidden;font-family:"黑体"; color:#fff; position:absolute; left:0; top:-16px; background:url(../img/gywm/gywm_tb.png) no-repeat center top #00a0e9;}
.rczp-nav-l h4{ display:block; position:absolute; left:130px; top:36px; color:#333333; padding-left:14px; font-size:14px; line-height:14px; overflow:hidden; background:url(../img/xwdt/xwdt-nav-l-h-ico.png) no-repeat left;}
.rczp-nav-r{  overflow:hidden; position:relative;}
.rczp-nav-r ul li { display:block; position:relative; overflow:hidden; margin-top:36px; height:48px; border-bottom:2px solid #ededed; float:left; margin-left:40px; color:#333; font-size:14px; line-height:14px; transition:all 0.3s ease;}
.rczp-nav-r ul li:hover{ color:#00a0e9;}
.rczp-nav-r ul li.click{ color:#00a0e9; border-bottom:2px solid #00a0e9;}
.rczp-nav.fixed{ box-shadow:0 10px 14px rgba(0, 0, 0, 0.18); position: fixed; left: 0; top:0px; height:100px; z-index: 100;}
.rczp-nav.fixed .rczp-nav-c{ width:1100px; margin:0 auto; height:100px; position:relative;}
.rczp-nav.fixed .rczp-nav-l span{ display:block; width:100px; height:100px;  position:absolute; left:0; top:1px; }
.rczp-nav.fixed .rczp-nav-l h4{top:52px;}
.rczp-nav.fixed .rczp-nav-r ul li{ margin-top: 52px;}



.gywm-c{ width:100%; overflow:hidden; position:relative; padding-top: 20px;}
.gywm-gsxx{ width:1100px; height:630px; margin:0 auto; position:relative; overflow:hidden; }
.gywm-gsxx-c{ position: absolute;top: 128px; width: 1100px; height:523px; overflow: hidden;}
.gywm-gsxx-box{ width: 100%; height: 100%; position: relative; overflow: hidden;}
.gywm-gsxx-box ul li{ width: 1080px; height: 523px; display: block; position: relative; overflow: hidden ; }
.gywm-gsxx-box-left{ width: 440px; height: 523px;margin-top: 40px; overflow: hidden; position: relative;}
.gywm-gsxx-box-right{ width:600px; height: 523px; overflow: hidden; position: relative;}
.gywm-gsxx-box-right h4{ font-size:40px; color:#000;font-family:"黑体"; line-height:40px;}
.gywm-gsxx-box-right h4 b{ color:#333333; font-size:20px; margin-left:30px;}
.gywm-gsxx-box-right h5{ display:block; width:22px; height:2px;  margin:40px 0; background:#000;}
.gywm-gsxx-box-right p{ font-size:14px; color:#666; line-height:24px; margin-bottom:14px;}

.gywm-gshj{ width:100%; height:590px; overflow:hidden; position:relative; background:url(../img/xwdt/xwdt-gshj-bg.jpg) no-repeat center top #f5f5f5;}
.gywm-gshj-c{ width:1100px; height:590px; margin:0 auto; position:relative; overflow:hidden;}
.gywm-gshj-h{ width:100%; height:64px;  margin:72px auto 56px auto; overflow:hidden; position:relative; background:url(../img/xwdt/gshj_h_bg.png) no-repeat center;}
.gywm-gshj-h h4{ display:block; width:314px; text-align:center;  margin:18px auto; font-size:24px; color:#fff; overflow:hidden; position:relative;}
.gywm-gshj-h span{ display:block; width:30px; height:2px; margin:12px auto 0 auto; background:#fff; }
.gywm-gshj-b{ width:1100px; height:320px; overflow:hidden; position:relative;   background:#fff;}
.gywm-gshj-box{ width:1120px; margin:40px; height:182px; overflow:hidden; position:relative;}
.gywm-gshj-box ul li{ display:block; width:1120px; height:182px;  float:left; overflow:hidden; position:relative;}
.gywm-gshj-box dl{ width:120%;}
.gywm-gshj-box dl dd{ display:block; width:250px; height:180px; float:left; margin-right:40px; overflow:hidden; position:relative;}
.gywm-gshj-box dl dd img{width:250px; height:180px; }
.gywm-gshj-sy{ width:100%; text-align:center; height:20px; position:relative;}
.gywm-gshj-sy ul li{ display:inline-block; width:12px; height:12px; border-radius:12px; margin:0 4px; overflow:hidden; font-size:0; background:#cccccc; cursor:pointer;}
.gywm-gshj-sy ul li.on{ background:#00a0e9; width:18px; height:18px;border-radius:18px;vertical-align: sub;}


/*.gywm{ width:100%;  position: relative;}*/
/*.gywm-nav{ width:100%; margin:0 auto; height:84px; position: absolute; left:0; top:0; background: #fff; z-index:2; border-bottom:2px solid #ededed; transition: all 0.3s ease;}*/
/*.gywm-nav-c{ width:1200px; margin:0 auto; height:84px; position:relative;}*/
/*.gywm-nav-l{ width:580px;  position:relative; }*/
/*.gywm-nav-l span{ display:block; width:100px; height:100px; font-size:18px; text-align:center; line-height:118px; overflow:hidden;font-family:"黑体"; color:#fff; position:absolute; left:0; top:-16px; background:url(../img/gywm/gywm_tb.png) no-repeat center top #00a0e9;}*/
/*.gywm-nav-l h4{ display:block; position:absolute; left:130px; top:36px; color:#333333; padding-left:14px; font-size:14px; line-height:14px; overflow:hidden; background:url(../img/xwdt/xwdt-nav-l-h-ico.png) no-repeat left;}*/
/*.gywm-nav-r{  overflow:hidden; position:relative;}*/
/*.gywm-nav-r ul li { display:block; position:relative; overflow:hidden; margin-top:36px; height:48px; border-bottom:2px solid rgba(237, 237, 237, 0); float:left; margin-left:40px; color:#333; font-size:14px; line-height:14px; transition:all 0.3s ease;}*/
/*.gywm-nav-r ul li:hover{ color:#00a0e9;}*/
/*.gywm-nav-r ul li.click{ color:#00a0e9; border-bottom:2px solid #00a0e9;}*/
/*.gywm-c{ width:100%; overflow:hidden; position:relative; padding-top: 10px;}*/
/*.jjfa-l-b{width:70px; height: 30px;position: absolute; overflow: hidden; left:484px; top:610px; z-index: 2;}*/
/*.jjfa-l-b>div{display: block;width: 30px; height: 30px; cursor: pointer;transition: all 0.3s ease;}*/
/*.jjfa-l-bl{ background: url(../img/box/btn-box-left.png) no-repeat center;}*/
/*.jjfa-l-bl:hover{background: url(../img/box/btn-box-left-hover.png) no-repeat center;}*/
/*.jjfa-l-br{ background: url(../img/box/btn-box-right.png) no-repeat center;}*/
/*.jjfa-l-br:hover{ background: url(../img/box/btn-box-right-hover.png) no-repeat center;}*/




/*.gywm-nav.fixed{ box-shadow:0 10px 14px rgba(0, 0, 0, 0.18); position: fixed; left: 0; top:0px; height:100px; z-index: 100;}*/
/*.gywm-nav.fixed .gywm-nav-c{ width:1200px; margin:0 auto; height:100px; position:relative;}*/
/*.gywm-nav.fixed .gywm-nav-l span{ display:block; width:100px; height:100px;  position:absolute; left:0; top:1px; }*/
/*.gywm-nav.fixed .gywm-nav-l h4{top:52px;}*/
/*.gywm-nav.fixed .gywm-nav-r ul li{ margin-top: 52px;}*/


/*.xwdt-ldgh-news-right{ width:1012px; overflow:hidden; position:relative;}*/
/*.xwdt-ldgh-news-right h4{ color:#333333; font-size:18px; line-height:18px; margin-bottom:18px; margin-top:10px;transition:all 0.3s ease;}*/
/*.xwdt-ldgh-news-right p{ width:970px; color:#999; font-size:14px; line-height:24px;transition:all 0.3s ease;}*/


/*.gywm-news-h{ width:1100px; overflow:hidden; position:relative; padding:140px 0 38px 0; border-bottom:1px solid #ededed; margin:0 auto 40px auto;}*/
/*.gywm-news-h h4{ width:100%; font-size:32px; line-height:40px; color:#000; margin-bottom:24px;font-family:"黑体"; }*/
/*.gywm-news-h dl{ overflow:hidden; position:relative; float:left;}*/
/*.gywm-news-h dl dd{ display:block; width:78px; text-align:center; font-size:14px; color:#999; line-height:26px; border:1px solid #ededed; border-radius:4px; cursor:pointer; float:left; margin-right:8px;}*/
/*.gywm-news-h b{ float:left; color:#999; font-size:14px;font-family:Arial; line-height:26px; margin-left:34px;}*/
/*.gywm-news-c{ width:1100px; margin:0 auto; overflow:hidden; position:relative; padding-bottom:60px;}*/
/*.gywm-news-c p{ font-size:14px; line-height:30px; color:#666; width:100%;}*/
/*.gywm-news-c img{ display:block; margin:30px auto;}*/
/*.gywm-news-b{ width:1100px; margin:0 auto; overflow:hidden; position:relative; padding:30px 0; margin-bottom:76px; border-top:1px solid #ededed;border-bottom:1px solid #ededed;}*/
/*.gywm-news-b a{ font-size:14px; line-height:14px; color:#333; transition:all 0.3s ease;}*/
/*.gywm-news-b a:hover{ color:#00a0e9; text-decoration:underline;}*/


.gywm-lxwm{ width:1100px; margin:0 auto; overflow:hidden; position:relative; margin-bottom:150px;top:120px;font-family:"黑体"; }
.gywm-lxwm-pub{ width:1100px; height:400px; margin-bottom:40px; overflow:hidden; position:relative;}
.gywm-lxwm-pub-l{ width:450px; height:100%; background:#00a0e9; overflow:hidden; position:relative;}
.gywm-lxwm-pub-l h4{ font-size:22px; color:#fff; margin:76px 0 0 64px}
.gywm-lxwm-pub-l span{ display:block; width:34px; height:2px; background:#fff; margin:10px 0 40px 64px;}
.gywm-lxwm-pub-l p{ font-size:14px; line-height:28px; color: #b4e7ff; margin-left:64px;}
.gywm-lxwm-pub-r{ width:650px; height:100%;  overflow:hidden; position:relative;}
.gywm-lxwm-pub .bjf{ background:#272727;}
.gywm-lxwm-pub .bjf p{ color:#898989;}

/*.gywm-zzry-h{ width:100%; height:64px;  margin:78px auto 30px auto; overflow:hidden; position:relative; }*/
/*.gywm-zzry-h h4{ display:block; width:314px; text-align:center;  margin:18px auto; font-size:24px; color:#000; overflow:hidden; position:relative;}*/
/*.gywm-zzry-h span{ display:block; width:30px; height:2px; margin:12px auto 0 auto; background:#000; }*/

/*.zzry-pc-bh{ width:330px; overflow:hidden; position:relative; margin:0 auto 60px auto;}*/
/*.zzry-pc-bh ul li{float:left;width:158px; height:46px; border:1px solid #d0d0d0; overflow:hidden; position:relative; line-height:46px; font-size:18px; color:#999; text-align:center; cursor:pointer;}*/
/*.zzry-pc-bh ul li.click{ border:1px solid #00a0e9; background:#00a0e9; color:#fff;}*/
/*.zzry-pc-fh{ width:1200px; height:776px; overflow:hidden; position:relative; margin:0 auto 60px auto; }*/
/*.zzry-pc-zzzs{ width:1200px; height:776px; overflow:hidden; position:relative;}*/
/*.zzry-pc-zzzs ul li{ display:block; width:1200px; height:776px; overflow:hidden; position:relative;}*/
/*.zzry-pc-zzzs dl{ width:1240px;}*/
/*.zzry-pc-zzzs dl dd{ display:block; width:373px; height:232px; margin:0 40px 40px 0; float:left; overflow:hidden; position:relative; background:#f5f5f5;}*/
/*.zzry-pc-zzzs dl dd span{ display:block; width:100%; height:80%; margin-top:6%;  overflow:hidden;}*/
/*.zzry-pc-zzzs dl dd strong{ display:block; width:100%; height:100%; position:absolute; left:0; top:0; z-index:1; background:#00a0e9; cursor:pointer; opacity:0;filter:alpha(opacity=0);transition:all 0.3s ease;}*/
/*.zzry-pc-zzzs dl dd:hover strong{opacity:1;filter:alpha(opacity=100);}*/
/*.zzry-pc-zzzs dl dd strong p{ margin:86px 0 0 0; width:100%; text-align:center; line-height:28px; font-size:18px; color:#f5f5f5;}*/

/*.zzry-pc-ryzs{ width:1200px; height:776px; overflow:hidden; position:relative;}*/
/*.zzry-pc-ryzs ul li{ display:block; width:1200px; height:776px; overflow:hidden; position:relative;}*/
/*.zzry-pc-ryzs dl{ width:1240px;}*/
/*.zzry-pc-ryzs dl dd{ display:block; width:373px; height:232px; margin:0 40px 40px 0; float:left; overflow:hidden; position:relative; background:#f5f5f5;}*/
/*.zzry-pc-ryzs dl dd span{ display:block; width:100%; height:80%; margin-top:6%;   overflow:hidden;}*/
/*.zzry-pc-ryzs dl dd strong{ display:block; width:100%; height:100%; position:absolute; left:0; top:0; z-index:1; background:#00a0e9; cursor:pointer; opacity:0;filter:alpha(opacity=0);transition:all 0.3s ease;}*/
/*.zzry-pc-ryzs dl dd:hover strong{opacity:1;filter:alpha(opacity=100);}*/
/*.zzry-pc-ryzs dl dd strong p{ margin:86px 0 0 0; width:100%; text-align:center; line-height:28px; font-size:18px; color:#f5f5f5;}*/




/*.jjfa-btn{ width:1200px; margin:0 auto; height:30px; position:relative; margin-bottom:80px;}*/
/*.jjfa-btn span{ width:100%; height:1px; position:absolute; left:0; top:50%; margin-top:-0.5px; background:#dddddd;}*/
/*.btn-box{ width:74px; height:30px; background:#fff; margin:0 auto; position: relative; overflow:hidden;}*/
/*.btn-box-left,.btn-box-right{ display:block; width:30px; height:30px; cursor:pointer; transition:all 0.3s ease;}*/
/*.btn-box-left{ background:url(../img/box/btn-box-left.png) no-repeat center;}*/
/*.btn-box-right{ background:url(../img/box/btn-box-right.png) no-repeat center;}*/
/*.btn-box-left:hover{background:url(../img/box/btn-box-left-hover.png) no-repeat center;}*/
/*.btn-box-right:hover{background:url(../img/box/btn-box-right-hover.png) no-repeat center;}*/



/*.zzry-pc-zzzs dl dd span img{*/
    /*//width:inherit;*/
    /*height:100%;*/
    /*margin: auto ;*/
    /*display: block ;*/
/*}*/
/*.zzry-pc-ryzs dl dd span img{*/
    /*height:100%;*/
    /*margin: auto ;*/
    /*display: block ;*/
/*}*/


