
body{ background:#fff;}

.ban-pc{ width:100%; height:500px; position:relative; overflow:hidden; background:url(../image/解决方案.jpg) no-repeat center; font-family:"黑体";}
.ban-cp{width:100%; height:500px; position:relative; overflow:hidden; background:url(../image/产品中心.jpg) no-repeat center; font-family:"黑体";}

.jjfa-article{ width:1100px;  margin:0 auto;  position:relative;font-family:"黑体"; overflow:hidden;}
.jjfa-left{ width:240px; overflow:hidden; position:relative; margin-bottom: 70px; padding:30px 0 0 0; background:#fafafa;}
.jjfa-left ul li{ display:block; width:100%; overflow:hidden; position:relative; padding:12px 0;}
.article-nav-father{ width:240px; padding:0 0 0 10px; overflow:hidden; position:relative; cursor:pointer;}
.article-nav-father span{ display:block; width:18px; height:18px;  float:left; margin-right:10px; background:url(../img/cpzxp/public-ico.png) no-repeat center;}
.article-nav-father b{ display:block; float:left; font-size:14px; color:#444; line-height:18px;}
.article-nav-father strong{ display:block; width:18px; height:18px;  float:right; margin-right:20px; background:url(../img/cpzxp/public-ico.png) no-repeat center; background-position:-216px 2px; }

.article-nav-father span.dag{ background-position:0 0;}
.article-nav-father span.tsg{ background-position:-24px 0;}
.article-nav-father span.xy{ background-position:-46px 0;}
.article-nav-father span.zm{ background-position:-70px 0;}
.article-nav-father span.hj{ background-position:-95px 0;}
.article-nav-father span.af{ background-position:-116px 0;}

.article-nav-father span.cp_pt{ background-position:0 -53px;}
.article-nav-father span.cp_mjj{ background-position:-26px -53px;}
.article-nav-father span.cp_tsg{ background-position:-50px -53px;}
.article-nav-father span.cp_hj{ background-position:-78px -53px;}
.article-nav-father span.cp_kf{ background-position:-103px -53px;}



.article-nav-father:hover span.dag{ background-position:0px -23px;}
.article-nav-father:hover span.tsg{ background-position:-24px -23px;}
.article-nav-father:hover span.xy{ background-position:-46px -23px;}
.article-nav-father:hover span.zm{ background-position:-70px -23px;}
.article-nav-father:hover span.hj{ background-position:-95px -23px;}
.article-nav-father:hover span.af{ background-position:-116px -23px;}

.article-nav-father:hover span.cp_pt{ background-position:0px -75px;}
.article-nav-father:hover span.cp_mjj{ background-position:-26px -75px;}
.article-nav-father:hover span.cp_tsg{ background-position:-50px -75px;}
.article-nav-father:hover span.cp_hj{ background-position:-78px -75px;}
.article-nav-father:hover span.cp_kf{ background-position:-103px -75px;}

.article-nav-father:hover b{ color:#00a0e9;}
.article-nav-father:hover strong{ background-position:-215px -22px;}
.article-nav-father.xz strong{ transition:all 0.3s ease; transform:rotate(90deg);background-position:-215px -22px;}
.article-nav-father.xz b{color:#00a0e9;}

.article-nav-father.xz span.dag{ background-position:0px -23px;}
.article-nav-father.xz span.tsg{ background-position:-24px -23px;}
.article-nav-father.xz span.xy{ background-position:-46px -23px;}
.article-nav-father.xz span.zm{ background-position:-70px -23px;}
.article-nav-father.xz span.hj{ background-position:-95px -23px;}
.article-nav-father.xz span.af{ background-position:-116px -23px;}

.article-nav-father.xz span.cp_pt{ background-position:0px -75px;}
.article-nav-father.xz span.cp_mjj{ background-position:-26px -75px;}
.article-nav-father.xz span.cp_tsg{ background-position:-50px -75px;}
.article-nav-father.xz span.cp_hj{ background-position:-78px -75px;}
.article-nav-father.xz span.cp_kf{ background-position:-103px -75px;}

.article-nav-son{ width:100%; overflow:hidden; position:relative; padding:22px 0 0; display:none;}
.article-nav-son dl dd{ display:block; width:100%; height:40px; text-indent:52px; font-size:14px; line-height:40px; color:#999999; transition:all 0.3s ease; cursor:pointer; }
.article-nav-son dl dd:hover{ color:#fff;background:#00a0e9;}
.article-nav-son dl dd.click{ color:#fff;background:#00a0e9;}




.jjfa-center{ width:700px; margin-left:20px; margin-bottom:30px; position: relative; overflow:hidden;font-family:"黑体";}

.jjfa-center h4{ width:100%; overflow: hidden; position:relative; color:#333333; font-size:28px; line-height:40px; overflow:hidden; margin:68px 0 38px 0; padding-bottom:20px; border-bottom:1px solid #ededed;}
.jjfa-center h4 span{ font-size:40px; font-family:arial; font-weight:normal; color:#00a0e9; vertical-align: bottom;}
.jjfa-center p{ font-size:14px; line-height:26px; margin-bottom:5px; color:#666666;font-family:"Microsoft YaHei","黑体",' 宋体';}
.jjfa-center img{ display:block; margin:30px auto;}

.jjfa-center h5{font-size:14px; line-height:14px;color:#666666;font-family:"Microsoft YaHei","黑体",' 宋体'; overflow:hidden; position:relative; margin-top:30px;}
.jjfa-center h5 span{ display:block; width:6px; height:6px; margin:5px 10px 0 0; background:#666666; float:left; border-radius:6px;}

.jjfa-center h6{font-size:16px; line-height:16px;color:#666666;font-family:"Microsoft YaHei","黑体",' 宋体'; overflow:hidden; position:relative; margin-bottom:10px;}

.jjfa-right{ margin-top:128px;width:126px;}

.jjfa-right-c{ position:fixed; top:600px; z-index:1; overflow:hidden;}
/*width:126px;*/

.jjfa-right-c ul{ float:right}
.jjfa-right-c ul li{ display:block; overflow:hidden; position:relative; border-left:2px solid #e0e0e0; line-height:28px; height:28px; font-size:14px; padding-left:12px; margin-bottom:4px; color:#999999; cursor:pointer; transition:all 0.3s ease;}
.jjfa-right-c ul li.click{ border-left:2px solid #00a0e9; color:#00a0e9;}
.jjfa-right-c ul li:hover{ color:#00a0e9;}



