
body{ background:#fff;}
.ban-pc{ width:100%; height:500px; position:relative; overflow:hidden; background:url(../image/新闻动态.jpg) no-repeat center; font-family:"黑体";}

.xwdt{ width:100%;  position: relative;}
.xwdt-nav{ width:100%; margin:0 auto; height:84px; position: absolute; left:0; top:0; background: #fff; z-index:2; border-bottom:2px solid #ededed; transition: all 0.3s ease;}
.xwdt-b>div{ display:none;}
.xwdt-nav-c{ width:1100px; margin:0 auto; height:84px; position:relative;}
.xwdt-nav-l{ width:580px;  position:relative; }
.xwdt-nav-l span{ display:block; width:100px; height:100px; font-size:18px; text-align:center; line-height:118px; overflow:hidden;font-family:"黑体"; color:#fff; position:absolute; left:0; top:-16px; background:url(../img/gywm/gywm_tb.png) no-repeat center top #00a0e9;}
.xwdt-nav-l h4{ display:block; position:absolute; left:130px; top:36px; color:#333333; padding-left:14px; font-size:14px; line-height:14px; overflow:hidden; background:url(../img/xwdt/xwdt-nav-l-h-ico.png) no-repeat left;}
.xwdt-nav-r{  overflow:hidden; position:relative;}
.xwdt-nav-r ul li { display:block; position:relative; overflow:hidden; margin-top:36px; height:48px; border-bottom:2px solid rgba(237, 237, 237, 0); float:left; margin-left:40px; color:#333; font-size:14px; line-height:14px; transition:all 0.3s ease;}
.xwdt-nav-r ul li:hover{ color:#00a0e9;}
.xwdt-nav-r ul li.click{ color:#00a0e9; border-bottom:2px solid #00a0e9;}
.xwdt-nav.fixed{ box-shadow:0 10px 14px rgba(0, 0, 0, 0.18); position: fixed; left: 0; top:0px; height:100px; z-index: 100;}
.xwdt-nav.fixed .rczp-nav-c{ width:1100px; margin:0 auto; height:100px; position:relative;}
.xwdt-nav.fixed .rczp-nav-l span{ display:block; width:100px; height:100px;  position:absolute; left:0; top:1px; }
.xwdt-nav.fixed .rczp-nav-l h4{top:52px;}
.xwdt-nav.fixed .rczp-nav-r ul li{ margin-top: 52px;}

.xwdt-c{ width:100%; overflow:hidden; position:relative; padding-top: 20px;}
.xwdt-gsxx{ width:1100px; height:728px; margin:0 auto; position:relative; overflow:hidden; }
/*background: url(../img/xwdt/) no-repeat left top;*/
.xwdt-gsxx-c{ position: absolute; left: 90px; top: 128px; width: 1110px; height:523px; overflow: hidden;}
.xwdt-gsxx-box{ width: 100%; height: 100%; position: relative; overflow: hidden;}
.xwdt-gsxx-box ul li{ width: 1110px; height: 523px; display: block; position: relative; overflow: hidden ; }
.xwdt-gsxx-box-left{ width: 331px; height: 523px; overflow: hidden; position: relative;}
.xwdt-gsxx-box-right{ width:720px; height: 523px; overflow: hidden; position: relative;}
.xwdt-gsxx-box-right h4{ font-size:40px; color:#000;font-family:"黑体"; line-height:40px;}
.xwdt-gsxx-box-right h4 b{ color:#333333; font-size:20px; margin-left:30px;}
.xwdt-gsxx-box-right h5{ display:block; width:22px; height:2px;  margin:40px 0; background:#000;}
.xwdt-gsxx-box-right p{ font-size:14px; color:#666; line-height:24px; margin-bottom:34px;}


/*.xwdt-gshj{ width:100%; height:590px; overflow:hidden; position:relative; background:url(../img/xwdt/xwdt-gshj-bg.jpg) no-repeat center top #f5f5f5;}*/
/*.xwdt-gshj-c{ width:1100px; height:590px; margin:0 auto; position:relative; overflow:hidden;}*/
/*.xwdt-gshj-h{ width:100%; height:64px;  margin:72px auto 56px auto; overflow:hidden; position:relative; background:url(../img/xwdt/gshj_h_bg.png) no-repeat center;}*/
/*.xwdt-gshj-h h4{ display:block; width:314px; text-align:center;  margin:18px auto; font-size:24px; color:#fff; overflow:hidden; position:relative;}*/
/*.xwdt-gshj-h span{ display:block; width:30px; height:2px; margin:12px auto 0 auto; background:#fff; }*/
.xwdt-gshj-b{ width:1100px; height:320px; overflow:hidden; position:relative;   background:#fff;}
.xwdt-gshj-box{ width:1100px; margin:40px; height:182px; overflow:hidden; position:relative;}
.xwdt-gshj-box ul li{ display:block; width:1120px; height:182px;  float:left; overflow:hidden; position:relative;}
.xwdt-gshj-box dl{ width:120%;}
.xwdt-gshj-box dl dd{ display:block; width:250px; height:180px; float:left; margin-right:40px; overflow:hidden; position:relative;}
.xwdt-gshj-box dl dd img{width:250px; height:180px; }
.xwdt-gshj-sy{ width:100%; text-align:center; height:20px; position:relative;}
.xwdt-gshj-sy ul li{ display:inline-block; width:12px; height:12px; border-radius:12px; margin:0 4px; overflow:hidden; font-size:0; background:#cccccc; cursor:pointer;}
.xwdt-gshj-sy ul li.on{ background:#00a0e9; width:18px; height:18px;border-radius:18px;vertical-align: sub;}



.xwdt-h{ width:350px; margin:10px auto; overflow:hidden; position:relative; text-align:center;}
.xwdt-h ul li{ display:block; float:left;width:158px; height:46px; border:1px solid #d0d0d0; font-size:18px; cursor: pointer; transition:all 0.3s ease; line-height:46px; text-align:center; color:#999; border-right:0;}
.xwdt-h ul li.click{ background:#00a0e9; border:1px solid #00a0e9; color:#fff;}
.xwdt-b{ width:1100px; overflow:hidden; position:relative; margin:0 auto 70px auto;}
.xwdt-gsxw{width:100%; overflow:hidden; position:relative; padding-top:55px;}
.xwdt-gsxw-box{ width:1080px; overflow:hidden; position:relative;}
.xwdt-gsxw-xs{ width:1098px; height:46px; border:1px solid #00a0e9; border-radius:4px; cursor:pointer; text-align:center;}
.xwdt-gsxw-xs p{ color:#00a0e9; font-size:18px; line-height:46px;}
.xwdt-gsxw-news{ width:520px; overflow:hidden; margin:0 10px 55px 10px; position:relative;}
.xwdt-news-left{ width:70px; height:84px; border:1px solid #ededed; border-radius:6px; margin-right:30px; position:relative; overflow:hidden; transition:all 0.3s ease;}
.xwdt-news-left h4{ font-size:32px; line-height:32px; color:#333; margin:14px 0 14px 0; width:100%; text-align:center; font-family:Arial; transition:all 0.3s ease;}
.xwdt-news-left p{ width:100%; text-align:center; line-height:14px; font-size:14px; color:#999; transition:all 0.3s ease;}
.xwdt-news-right{ width:400px; overflow:hidden; position:relative;}
.xwdt-news-right h4{ font-size:18px; line-height:18px; color:#333333; width:100%; margin-bottom:16px;transition:all 0.3s ease;}
.xwdt-news-right p{ width:100%; font-size:14px; line-height:24px; color:#999; margin-bottom:16px;}
.xwdt-news-right span{ display:block;width:90px;height:28px; border:1px solid #999999; text-align:center; line-height:28px; cursor:pointer; transition:all 0.3s ease; border-radius:4px;}
.xwdt-gsxw-news:hover .xwdt-news-left{border:1px solid #00a0e9; background:#00a0e9;}
.xwdt-gsxw-news:hover .xwdt-news-left h4{ color:#fff;}
.xwdt-gsxw-news:hover .xwdt-news-left p{ color:#fff;}
.xwdt-gsxw-news:hover .xwdt-news-right h4{ text-decoration:underline;}
.xwdt-gsxw-news:hover .xwdt-news-right span{  border:1px solid #00a0e9; color:#00a0e9;}

.xwdt-ldgh-news-left{ width:150px; height:100px;  border-right:1px solid #ededed; overflow:hidden; position:relative; margin-right:37px;}
.xwdt-ldgh-news-left h4{font-size:32px; line-height:32px; color:#333; margin:18px 0 14px 0; width:100%; text-align:center; font-family:Arial;transition:all 0.3s ease;}
.xwdt-ldgh-news-left h4 b{ color:#00a0e9;transition:all 0.3s ease;}

.xwdt-scdt-box ul li:hover .xwdt-ldgh-news-left h4{ color:#fff;}
.xwdt-scdt-box ul li:hover .xwdt-ldgh-news-left h4 b{ color:#fbde07;}
.xwdt-scdt-box ul li:hover .xwdt-ldgh-news-left p{ color:#ade3fe;}
.xwdt-scdt-box ul li:hover .xwdt-ldgh-news-right h4{ color:#fff;}
.xwdt-scdt-box ul li:hover .xwdt-ldgh-news-right p{ color:#ade3fe;}


.xwdt-ldgh-news-left p{ color:#999999; font-size:14px; line-height:14px; margin:0 0 0 76px; font-family:Arial;transition:all 0.3s ease;}
.xwdt-ldgh-news-right{ width:912px; overflow:hidden; position:relative;}
.xwdt-ldgh-news-right h4{ color:#333333; font-size:18px; line-height:18px; margin-bottom:18px; margin-top:10px;transition:all 0.3s ease;}
.xwdt-ldgh-news-right p{ width:900px; color:#999; font-size:14px; line-height:24px;transition:all 0.3s ease;}
.xwdt-ldgh-news-zd{ width:49px; height:49px; position:absolute; left:0; z-index:2; top:-1px;}


.xwdt-scdt-box{width:1100px; overflow:hidden; position:relative; padding-top:60px; margin-bottom:60px;border-bottom:1px solid #ededed;}
.xwdt-scdt-box ul li{ display:block; width:100%; height:100px; padding:30px 0; border-top:1px solid #ededed; position:relative; border-right:0; border-left:0; cursor:pointer; transition:all 0.3s ease;}
.xwdt-scdt-news-left{ width:150px; height:100px;  border-right:1px solid #ededed; overflow:hidden; position:relative; margin-right:37px;}
.xwdt-scdt-news-left h4{font-size:32px; line-height:32px; color:#333; margin:18px 0 14px 0; width:100%; text-align:center; font-family:Arial;transition:all 0.3s ease;}
.xwdt-scdt-news-left h4 b{ color:#00a0e9;transition:all 0.3s ease;}
.xwdt-scdt-news-left p{ color:#999999; font-size:14px; line-height:14px; margin:0 0 0 76px; font-family:Arial;transition:all 0.3s ease;}
.xwdt-scdt-news-right{ width:1012px; overflow:hidden; position:relative;}
.xwdt-scdt-news-right h4{ color:#333333; font-size:18px; line-height:18px; margin-bottom:18px; margin-top:10px;transition:all 0.3s ease;}
.xwdt-scdt-news-right p{ width:970px; color:#999; font-size:14px; line-height:24px;transition:all 0.3s ease;}
.xwdt-scdt-box ul li:hover{border-top:1px solid #00a0e9; background:#00a0e9;  border-right:0; border-left:0;}
.xwdt-scdt-box ul li:hover .xwdt-scdt-news-left h4{ color:#fff;}
.xwdt-scdt-box ul li:hover .xwdt-scdt-news-left h4 b{ color:#fbde07;}
.xwdt-scdt-box ul li:hover .xwdt-scdt-news-left p{ color:#ade3fe;}
.xwdt-scdt-box ul li:hover .xwdt-scdt-news-right h4{ color:#fff;}
.xwdt-scdt-box ul li:hover .xwdt-scdt-news-right p{ color:#ade3fe;}